<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <title>Document</title>
</head>
<body>
    <div id="app">
        <ul>
            <li v-for="(frutu, index) in frutus">({{ index }}){{ frutu }}</li>
            <hr>
        </ul>

        <ul>
        <template v-for="frutu in frutus">
            <li>{{ frutu }}</li>
            <hr>
        </template>
        </ul>

        <ul>
            <li v-for="(value, key, index) in object">({{ index }}) {{ key }}:{{ value }}</li>
        </ul>

        <ul>
            <li v-for="n in 10">{{ n }}</li>
        </ul>
    </div>

    <script>
        new Vue({
            el: '#app',
            data: {
                frutus: ['りんご', 'みかん', 'もも'],
                object: {
                    firstName: '太郎',
                    lastName: '田中',
                    age: 21
                }
            }
        })
    </script>
</body>
</html>